form {
  display: flex;
  flex-direction: column;
}

.form-area {
  width: auto;
  margin: 8px 16px;
  color: var(--mainBlue);
  font-family: 'Roboto', sans-serif;
  border: 1px solid var(--mainBlue);
}

input {
  color: var(--mainBlue);
  background-color: var(--mainWhite);
  border: 1px solid var(--mainBlue);
  border-radius: 5px;
  margin: 8px 16px;
  padding: 8px;
  font-style: italic;
}

textarea {
  min-height: 50px;
  color: var(--mainBlue);
  background-color: var(--mainWhite);
  border: 1px solid var(--mainBlue);
  border-radius: 5px;
  margin: 8px 16px;
  padding: 8px;
  font-style: italic;
}

.add-button {
  padding: 4px 16px;
  width: 75px;
  border: 0;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
}

.delete-button {
  padding: 4px;
  width: 75px;
  border: 1px solid var(--mainBlue);
  background-color: var(--mainWhite);
  color: var(--mainBlue);
}

.input-header {
  font-size: 24px;
  font-weight: 400;
  margin: 8px 16px;
}

.button-container {
  margin: 0 16px 8px 16px;
  display: flex;
  justify-content: right;
  align-self: right;
}

.add-button-container {
  margin: 0 16px 8px 16px;
  display: flex;
  justify-content: right;
  align-self: right;
}
